<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
  <div class="w-full mb-1">
    <div class="mb-4">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All Options</h1>
    </div>
    <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
      <div class="flex items-center mb-4 sm:mb-0">
        <form class="sm:pr-3" action="#" method="GET">
          <label for="options-search" class="sr-only">Search</label>
          <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
            <input type="text" id="options-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for options">
          </div>
        </form>
      </div>
      <%= link_to "Add new option", new_admin_option_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>

    </div>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Option name
      </th>
      <th scope="col" class="px-6 py-3">
        Option Type
      </th>
      <th scope="col" class="px-6 py-3">
        Description
      </th>
      <th scope="col" class="px-6 py-3">
        Values
      </th>
      <th scope="col" class="px-6 py-3">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <% @options.each do |option| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= link_to admin_option_path(option) do %>
            <%= option.name %>
          <% end %>
        </th>
        <td class="px-6 py-4">
          <%= option.option_type %>
        </td>
        <td class="px-6 py-4">
          <%= option.description %>
        </td>
        <td class="px-6 py-4">
          <%= option.option_values.map(&:value).join(' | ') %>
        </td>
        <td class="flex items-center px-6 py-4 space-x-3">
          <a href="<%= edit_admin_option_path(option) %>" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          <%= button_to 'Remove', [:admin, option], method: :delete, class: 'font-medium text-red-600 dark:text-red-500 hover:underline',
                        form: {data: {turbo_confirm: 'Are you sure?'}} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
