<div id="<%= dom_id list %>" class="flex flex-col space-y-4 pt-4 pb-4">
  <div class="flex">
    <div class="mr-2 font-semibold">Name:</div><%= list.name %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Arabic name:</div><%= list.name_ar %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Products</div>
  </div>
  <% list.products.each do |product| %>
    <div class="flex">
      <div class="ml-5 mr-2 font-semibold">#<%= product.id %></div><%= product.name %>
    </div>
  <% end %>

</div>
