<div id="<%= dom_id product %>" class="flex flex-col space-y-4 pt-4 pb-4">
  <div class="flex">
    <div class="mr-2 font-semibold">Name:</div><%= product.name %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Short description:</div><%= product.short_description %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Description:</div><%= product.description %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Arab description:</div><%= product.description_ar %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Ingredients:</div><%= product.ingredients %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Reference:</div><%= product.reference %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Original name:</div><%= product.original_name %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Slug:</div><%= product.slug %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Tags:</div><%= product.tags %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Enabled:</div><%= product.enabled %>
  </div>
</div>