<div id="<%= dom_id coupon %>" class="flex flex-col space-y-4 pt-4 pb-4  text-gray-900 dark:text-white">
  <div class="flex">
    <div class="mr-2 font-semibold">Code: </div><%= coupon.code %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Percent: </div><%= coupon.percent %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Type: </div><%= coupon.coupon_type %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Expiry Date: </div><%= coupon.expiry_date %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Enabled: </div><%= coupon.enabled %>
  </div>
  <div class="flex">
    <div class="mr-2 font-semibold">Validity: </div><%= coupon.validity %>
  </div>
</div>