<div class="w-full max-w-3xl  bg-white sm:p-6 md:p-8 dark:bg-gray-800 space-y-4">

  <%= link_to admin_coupons_path do %>
    <div class="flex flex-row items-center text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-700">
      <svg class="w-4 h-4 mr-2 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"/>
      </svg>
      <u>Back</u>
    </div>
  <% end %>

  <h5 class="text-xl font-medium text-gray-900 dark:text-white">Showing product</h5>

  <%= render @coupon %>

  <%= link_to "Edit this coupon", edit_admin_coupon_path(@coupon), class: "flex justify-center items-center  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5" %>
  <%= link_to "Back to coupons", admin_coupons_path, class: "flex justify-center items-center  text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5" %>
  <%= button_to "Destroy this coupon", admin_coupon_path(@coupon), method: :delete, class: "flex justify-center items-center  w-full focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5" %>

</div>