<!DOCTYPE html>
<html>
<head>
  <title>Shopflow Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "admin", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<!-- Used by devise -->
<!-- TODO: turn it into a toast message  -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render partial: "layouts/admin_partials/navbar" %>
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

  <%= render partial: "layouts/admin_partials/sidebar" %>

  <div id="main-content" class="relative w-full h-full overflow-y-auto bg-white lg:ml-64 dark:bg-gray-900">
    <main>
      <%= yield %>
    </main>
    <%= render partial: "layouts/admin_partials/footer" %>
  </div>

</div>
</body>
</html>
