<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopflow</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<!-- Used by devise -->
<!-- TODO: turn it into a toast message  -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render partial: 'layouts/application_partials/header' %>
<%= render partial: 'layouts/application_partials/navbar' %>
<%= yield %>
<%= render partial: 'layouts/application_partials/footer' %>
</body>
</html>
